:root {
    /* Variables de css */
    --bg-color: linear-gradient(90deg, rgba(169, 139, 195, 1) 0%, rgba(188, 169, 217, 1) 39%, rgba(186, 165, 217, 1) 84%);
    --bg-input-color: #4f31572c;
    --primary-color: beige;
    --secondary-color: #2b0e25;
    --third-color: #292429;
    --color: #fff;
}


* {
    padding: 0;
    margin: 0;
    font-size: 20px;
    box-sizing: border-box;

}


body {
    font-family: "Open Sans", sans-serif;
}

/*Nav y el main */

.fondoVioleta {
    position: absolute;
    background: var(--bg-color);
    height: 218vh;
    width: 100%;
    z-index: -1;
    /* border: 1px solid greenyellow; */
}

.logo {
    position: absolute;
    top: 5px;
    left: 40px;
}

header {
    height: 70px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* border: 1px solid rgb(34, 0, 255); */

}

ul {
    display: flex;
    list-style-type: none;
}

ul li a {
    padding: 0 20px;
    text-decoration: none;
    font-size: .9rem;
    color: beige;
    display: inline-block;

}

li a::after {
    content: '';
    display: block;
    height: 2px;
    width: 0;
    background-color: #c4c4f7;
    opacity: 0.5;

}

li a:hover::after {
    width: 100%;
    transition: 0.6s;
}


.submenu-links {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    padding: 10px;
}


.submenu:hover .submenu-links {
    display: flex;
}


.submenu-links a {
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.296);
    color: rgb(255, 255, 255);
    border-radius: 20px;
}


h1 {
    font-size: 2rem;
    color: var(--primary-color);
    letter-spacing: 1px;

}

h2 {
    color: beige;
    font-size: 1rem;
    font-weight: 500;
}

p {
    font-size: .7rem;
    margin-top: 30px;
    color: beige;
}

/* sección hero-------- */

.content-hero {
    display: flex;
    min-height: 80vh;
    justify-content: space-between;
    /*horizontal*/
    align-items: center;
    /*vertical*/
    margin: 0 150px;
    /* border: 1px solid rgb(255, 0, 0); */

}

.content-izquierda {
    width: 30%;
    height: auto;
    /* border: solid red; */
}

.content-derecha {
    width: 450px;
    min-height: 200px;
    /* border: 2px solid black; */
}

.imagenMain {
    max-width: 300px;
    margin: 0 70px;
    height: auto;
    border-radius: 20px;
    box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.4);
    /* border: 1px solid red; */
}


.cta {
    margin-top: 20px;
    padding: 10px;
    font-size: .7rem;
    font-weight: 300px;
    color: beige;
    border-width: 1px;
    border-radius: 5px;
    border-color: beige;
    border-style: solid;
    background-color: transparent;
    cursor: pointer;
}


/* Logos-en el main------------------- */

.logos-main {
    display: flex;
    justify-content: center;
    padding: 0;
    list-style-type: none;
    /* border: 1px solid rgb(38, 0, 255); */
    margin: 30px 0;
}

.logos-main li {
    margin: 0 40px;
}

.logos-main img {

    max-width: 100px;
    height: auto;
}

/* Sección Busqueda -----------------*/

.content-busqueda h1 {
    color: #8e8e8e;
}

.content-busqueda h2 {
    color: var(--third-color);

}

.content-busqueda h1 span {
    color: transparent;
    /* Hace que el texto sea transparente */
    background: linear-gradient(90deg, rgba(214, 166, 255, 1) 0%, rgba(165, 115, 241, 1) 53%, rgba(183, 147, 236, 1) 86%);
    -webkit-background-clip: text;
    /* Para navegadores basados en WebKit (Chrome, Safari) */
    background-clip: text;
    font-size: 2rem;

}

.content-busqueda {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 200px;
    margin: 0 auto;
    /* border: 1px solid black; */
}

.barraBusqueda {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 390px;
    height: 50px;
    background-color: #dadadab1;
    border-radius: 20px;
    /* border: 1px solid red; */
}

.barraInput {

    padding: 3;
    border: none;
    /* Elimina el borde */
    outline: none;
    /* Elimina el contorno al hacer clic */
    background: transparent;
    /* Hace el fondo del input transparente */
    /* border: 1px solid greenyellow; */
}

.botonBusqueda {

    padding: 6px;
    /* border: 1px solid rgb(8, 0, 255); */
    font-size: .8rem;
    background-color: #7a006272;
    color: var(--primary-color);
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 2px 0px 3px rgba(0, 0, 0, 0.4);
}

/* Estilos para el footer */

footer {
    background-color: var(--secondary-color);
    color: var(--color);
    padding: 15px 0;
    text-align: center;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto; 
}