* {
    padding: 0;
    margin: 0;
    font-size: 20px;
    box-sizing: border-box;

}


body {
    font-family: "Open Sans", sans-serif;
}

/*Nav y el main */

.fondoVioleta {
    background: linear-gradient(90deg, rgba(169, 139, 195, 1) 0%, rgba(188, 169, 217, 1) 39%, rgba(186, 165, 217, 1) 84%);
    height: 750px;
    width: 100%;
    position: relative;
    border: 1px solid greenyellow;
}

.logo {
    position: absolute;
    top: 25px;
    left: 40px;
}

header {
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

ul {
    display: flex;
    list-style-type: none;
    /* margin-right: 30px; */
}

ul li a {
    padding: 0 20px;
    text-decoration: none;
    font-size: .9rem;
    color: beige;
    display: inline-block;
}

li a::after {
    content: '';
    display: block;
    height: 2px;
    width: 0;
    background-color: #c4c4f7;
    opacity: 0.5;
}

li a:hover::after {
    width: 100%;
    transition: 0.6s;
}


main h1 {
    font-size: 2rem;
    color: beige;
    letter-spacing: 1px;

}

main h2 {
    color: beige;
    font-weight: 300;
}

main p {
    font-size: .7rem;
    margin-top: 30px;
    color: beige;
}

/* Contenido Main texto e imagen */

.content-hero {
    display: flex;
    /* flex-wrap: wrap; */
    min-height: 80vh;
    justify-content: space-around; /*horizontal*/
    align-items: center; /*vertical*/
    border: 1px solid rgb(255, 0, 0);
    margin: 0 150px;

}

.content-izquierda {
    width: 30%;
    height: auto;
    /* margin-left: 100px; */
    border: solid red;
}

.content-derecha {
    width: 450px;
    min-height: 200px;
    border: 2px solid black;
}

.imagenMain {
    max-width: 300px;
    margin: 0 70px;
    height: auto;
    border-radius: 20px;
    box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.4);
    /* border: 1px solid red; */
}


.cta {
    margin-top: 20px;
    padding: 10px;
    font-size: .7rem;
    font-weight: 300px;
    color: beige;
    border-width: 1px;
    border-radius: 5px;
    border-color: beige;
    border-style: solid;
    background-color: transparent;
    cursor: pointer;
}




/* Logos-en el main */

.logos-main {
    display: flex;
    justify-content: center;
    padding: 0;
    list-style-type: none;
    /* border: 1px solid rgb(38, 0, 255); */
    margin: 30px 0;
}

.logos-main li {
    margin: 0 40px;
}

.logos-main img {

    max-width: 100px;
    height: auto;
}