* {
    padding: 0;
    margin: 0;
    font-size: 20px;
    box-sizing: border-box;

}


body {
    font-family: "Open Sans", sans-serif;
}

/*Nav y el main */



.fondoVioleta {
    background: linear-gradient(90deg, rgba(169, 139, 195, 1) 0%, rgba(188, 169, 217, 1) 39%, rgba(186, 165, 217, 1) 84%);
    height: 700px;
    width: 100%;
    border: 1px solid greenyellow;
}

header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid blue; */
}

ul {
    display: flex;
    list-style-type: none;
    margin-right: 30px;
}

ul li a {
    padding: 0 10px;
    text-decoration: none;
    font-size: .8rem;
    color: beige;
    display: inline-block;
}

li a::after {
    content: '';
    display: block;
    height: 2px;
    width: 0;
    background-color: #c4c4f7;
    opacity: 0.5;
}

li a:hover::after {
    width: 100%;
    transition: 0.6s;
}

main {
    display: flex;
    height: 80vh;
    justify-content: space-between;
    /*horizontal*/
    align-items: center;
    /*vertical*/
    /* border: 1px solid greenyellow; */

}

.imagenMain {
    max-width: 300px;
    margin-right: 200px;
    height: auto;
    border-radius: 20px;
}

.content-izquierda {
    width: 40%;
    margin-left: 100px;
    /* border: solid red; */
}

main h1 {
    font-size: 2rem;
    color: beige;
    letter-spacing: 1px;

}

main h2 {
    color: beige;
    font-weight: 300;
}

main p {
    font-size: .7rem;
    margin-top: 30px;
    color: beige;
}

.cta {
    margin-top: 20px;
    padding: 10px;
    font-size: .7rem;
    font-weight: 300px;
    color: beige;
    border-width: 1px;
    border-radius: 5px;
    border-color: beige;
    border-style: solid;
    background-color: transparent;
    cursor: pointer;

}

/* logos-en el main */



.logos-main {
    border: 1px solid red;
    display: flex;
    justify-content: center;
    padding: 0;
    list-style-type: none;


}

.logos-main li {
    margin: 0 40px;
}

.logos-main img {
    
    max-width: 100px;
    height: auto;
}