:root {
  /* Variables de css */
  --bg-color: linear-gradient(90deg, rgba(169, 139, 195, 1) 0%, rgba(188, 169, 217, 1) 39%, rgba(186, 165, 217, 1) 84%);
  --bg-input-color: #4f31572c;
  --primary-color: beige;
  --secondary-color: #2b0e25;
  --third-color: #292429;
  --color: #fff;
}


/* General */


* {
  padding: 0;
  margin: 0;
  font-size: 20px;
  box-sizing: border-box;

}


body {
  font-family: "Open Sans", sans-serif;
}

  
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Header */

  .logo {
    position: absolute;
    top: 5px;
    left: 40px;
}

.fondoVioleta {
  position: absolute;
  background: var(--bg-color);
  height: 180vh;
  width: 100%;
  z-index: -1;
  /* border: 1px solid greenyellow; */
}

  header {
    height: 70px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* border: 1px solid rgb(34, 0, 255); */
  
  }
  
  ul {
    display: flex;
    list-style-type: none;
}

ul li a {
    padding: 0 20px;
    text-decoration: none;
    font-size: .9rem;
    color: beige;
    display: inline-block;

}

li a::after {
    content: '';
    display: block;
    height: 2px;
    width: 0;
    background-color: #c4c4f7;
    opacity: 0.5;

}

li a:hover::after {
    width: 100%;
    transition: 0.6s;
}


.submenu-links {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    padding: 10px;
}


.submenu:hover .submenu-links {
    display: flex;
}


.submenu-links a {
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.296);
    color: rgb(255, 255, 255);
    border-radius: 20px;
}

  
  /* Main */
  
  main {
    padding: 40px 0;
    /* background-color: #bba6d9; */
  }
  
  .contacto {
    width: 80%;
    max-width: 600px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #f0f0f0;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 18px;
    line-height: 1.5;
  }
  
  .locales, .info-contacto {
    margin-bottom: 20px;
  }
  
  .locales ul, .info-contacto ul {
    list-style: none;
    padding: 0;
  }
  
  .locales li, .info-contacto li {
    margin-bottom: 10px;
  }
  
  .botones {
    display: flex;
    justify-content: space-between;
  }
  
  .btn-whatsapp, .btn-chat {
    display: inline-block;
    padding: 15px 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
  }
  
  .btn-whatsapp {
    background-color: #25D366;
    color: #fff;
  }
  
  .btn-chat {
    background-color: #007BFF;
    color: #fff;
  }
  
  /* Footer */
  
  footer {
    background-color: var(--secondary-color);
    color: var(--color);
    padding: 15px 0;
    text-align: center;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto; 
}