<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
      rel="stylesheet">
  <link rel="stylesheet" href="../static/remeras.css">
    <title>Buzos</title>
</head>
<body>
    <header>
        <div class="logo">
            <a href="../index.html">
              <img src="../imagenes/file.png" alt="logo" width="60px">
            </a>
          </div>
          <!-- Nav -->
          <nav>
            <ul>
              <li class="submenu"><a href="#">Productos</a>
                <ul class="submenu-links">
                  <li><a href="/templates/remeras.html">Remeras</a></li>
                  <li><a href="/templates/buzos.html">Buzos</a></li>
                  <li><a href="/templates/jeans.html">Jeans</a></li>
                </ul>
              </li>
              <li><a href="/templates/preguntasfrecuentes.html">Preguntas Frecuentes</a></li>
              <li><a href="/templates/somosx.html">Somos X</a></li>
              <li><a href="/templates/contacto.html">Contacto</a></li>
            </ul>
          </nav>
    </header>
    <main>
        <article class="sub-header">
            <h1>Tienda Buzos</h1>

                <div class="container-icon">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="icon-cart"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M15.75 10.5V6a3.75 3.75 0 10-7.5 0v4.5m11.356-1.993l1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 01-1.12-1.243l1.264-12A1.125 1.125 0 015.513 7.5h12.974c.576 0 1.059.435 1.119 1.007zM8.625 10.5a.375.375 0 11-.75 0 .375.375 0 01.75 0zm7.5 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z"
                        />
                    </svg>
                    <div class="count-products">
                        <span id="contador-productos">0</span>
                    </div>
                    <div class="container-cart-products hidden-cart">
                        <div class="cart-product">
                            <div class="info-cart-product">
                                <span class="cantidad-producto-carrito">1</span>
                                <p class="titulo-producto-carrito">Remera infuse</p>
                                <span class="precio-producto-carrito">$75</span>
                            </div>
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke-width="1.5"
                                stroke="currentColor"
                                class="icon-close"
                            >
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    d="M6 18L18 6M6 6l12 12"
                                />
                            </svg>
                        </div>
                        <div class="cart-total">
                            <h3>Total:</h3>
                            <span class="total-pagar">$200</span>
                        </div>
                    </div>
                </div>
        
        </article>
      <section>
        <div class="container-items">
			<div class="item">
				<figure>
					<img
						src="../imagenes/Imagenes buzos/Buzo con capucha.png"
						alt="producto"
					/>
				</figure>
				<div class="info-product">
					<h2>Buzo con Capucha Liso</h2>
					<p class="price">$69</p>
					<button>Añadir al carrito</button>
				</div>
			</div>
			<div class="item">
				<figure>
					<img
						src="../imagenes/Imagenes buzos/Buzo con capucha bordado.png"
						alt="producto"
					/>
				</figure>
				<div class="info-product">
					<h2>Buzo con Capucha Bordado</h2>
					<p class="price">$50</p>
					<button>Añadir al carrito</button>
				</div>
			</div>
			<div class="item">
				<figure>
					<img
						src="../imagenes/Imagenes buzos/Buzos raya.png"
						alt="producto"
					/>
				</figure>
				<div class="info-product">
					<h2>Buzo Rayado</h2>
					<p class="price">$75</p>
					<button>Añadir al carrito</button>
				</div>
			</div>
			<div class="item">
				<figure>
					<img
						src="../imagenes/Imagenes buzos/sweater.png"
						alt="producto"
					/>
				</figure>
				<div class="info-product">
					<h2>Sweater</h2>
					<p class="price">$60</p>
					<button>Añadir al carrito</button>
				</div>
			</div>
			<div class="item">
				<figure>
					<img
						src="../imagenes/Imagenes buzos/Buzos estampado.png"
						alt="producto"
					/>
				</figure>
				<div class="info-product">
					<h2>Buzo Estampado</h2>
					<p class="price">$50</p>
					<button>Añadir al carrito</button>
				</div>
			</div>
            <div class="item">
				<figure>
					<img
						src="../imagenes/Imagenes buzos/buzo basico liso.png"
						alt="producto"
					/>
				</figure>
				<div class="info-product">
					<h2>Buzo Basico Liso</h2>
					<p class="price">$90</p>
					<button>Añadir al carrito</button>
				</div>
			</div>
		</div>

        
      </section>
    </main>
   
   
   
   
    <script src="../scripts/buzos.js"></script>
   
    <footer>
        <div class="footer-container">
          <p>&copy; 2024 CaC_FullStack_Phyton - CodeCrew <br>
            Creditos: Oscar Jesús Maidana; Facundo Albertus
          </p>
        </div>
      </footer>
</body>
</html>