<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/contacto.css">
    <title>Contacto</title>
</head>
<body>
    <main>
        <div >
            <section class="contacto">
                <h2>Contáctanos</h2>
                <p>¡Descubre la mejor indumentaria a precios imbatibles! Te esperamos con una amplia variedad de estilos para todos los gustos y presupuestos.</p>
          
                <div class="locales">
                  <h3>Locales</h3>
                  <ul>
                    <li>Ituzaingó 282, Córdoba</li>
                    <li>Commentes 161, Córdoba</li>
                    <li>9 de Julio 72, Córdoba</li>
                    <li>Entre Rios 45, Córdoba</li>
                  </ul>
                </div>
          
                <div class="info-contacto">
                  <h3>Información de contacto</h3>
                  <ul>
                    <li>Whatsapp: +54 9 351 2534082</li>
                    <li>Email: info@e-commerce.com</li>
                  </ul>
                </div>
          
                <div class="botones">
                  <a href="" class="btn-whatsapp">Contactarse por WhatsApp</a>
                  <a href="#" class="btn-chat">Continuar al chat</a>
                </div>
              </section>
            </main>
          
            <footer>
              <p>&copy; E-Commerce</p>
              <li><a href="../index.html">Inicio</a></li>
              <li><a href="#">Productos</a></li>
              <li><a href="#">Preguntas Frecuentes</a></li>
              <li><a href="#">Somos X</a></li>
              <li><a href="/templates/contacto.html">Contacto</a></li>        
            </footer>
        </div>
        
</body>
</html>