<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Preguntas frecuentes</title>
  <link rel="stylesheet" href="../static/preguntasFrecuentes.css">
  
</head>
<body>
  
  <header>

    <!-- Logo -->
    <div class="logo">
      <a href="../index.html">
        <img src="../imagenes/file.png" alt="logo" width="60px">
      </a>
    </div>
    <!-- Nav -->
    <nav>
      <ul>
        <li class="submenu"><a href="#">Productos</a>
          <ul class="submenu-links">
            <li><a href="/templates/remeras.html">Remeras</a></li>
            <li><a href="">Buzos</a></li>
            <li><a href="">Jeans</a></li>
          </ul>
        </li>
        <li><a href="/templates/preguntasfrecuentes.html">Preguntas Frecuentes</a></li>
        <li><a href="/templates/somosx.html">Somos X</a></li>
        <li><a href="/templates/contacto.html">Contacto</a></li>
      </ul>
    </nav>
  
  </header>
    <main>
      <h1>Preguntas Frecuentes</h1>
      <section class="contedor-preguntasFrecuentes">
        
          <div class="contenedorIzq">

          
        <div class="item1">
            <h3>¿Cuáles son las opciones de pago disponibles?</h3>
            <p>En nuestra tienda, aceptamos tarjetas de crédito, transferencias bancarias y PayPal.</p>
        </div>
        
        <div class="item2">
            <h3>¿Cuánto tiempo tarda en llegar mi pedido?</h3>
            <p>El tiempo de entrega varía según tu ubicación, pero generalmente los pedidos llegan en 3-5 días hábiles.</p>
        </div>

      
        <div class="item3">
          <h3>¿Puedo devolver o cambiar un artículo?</h3>
          <p>Sí, aceptamos devoluciones y cambios dentro de los 30 días posteriores a la compra, siempre que el artículo esté en condiciones originales y con la etiqueta.</p>
      </div>

    </div>

      <div class="contenedorDerecho">

      <div class="item4">
        <h3>¿Cuáles son los costos de envío?</h3>
            <p>Los costos de envío dependen del destino y del peso del paquete. Puedes calcular los costos exactos en el proceso de compra antes de finalizar tu pedido.</p>

    <div class="item5">
      <h3>¿Cómo puedo rastrear mi pedido?</h3>
            <p>Una vez que tu pedido haya sido enviado, recibirás un correo electrónico con un enlace de seguimiento para que puedas rastrear tu paquete en tiempo real.</p>

  <div class="item6">
    <h3>¿Cómo puedo contactar al servicio al cliente?</h3>
            <p>Puedes contactar a nuestro servicio al cliente enviándonos un correo electrónico a [correo electrónico de servicio al cliente] o llamando al [número de teléfono de servicio al cliente].</p>
</div>

</div>
        
        <!-- Agrega más preguntas y respuestas según sea necesario -->
    </section>
    
    </main>
    <footer>
      <div class="footer-container">
        <p>&copy; 2024 CaC_FullStack_Phyton - CodeCrew <br>
          Creditos: Oscar Jesús Maidana; Facundo Albertus
        </p>
      </div>
    </footer>
 </div>
</body>
</html>