<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Remeras</title>
</head>
<body>
    <header>
        <div class="logo">
            <a href="../index.html">
              <img src="../imagenes/file.png" alt="logo" width="60px">
            </a>
          </div>
        <nav>
            <ul>
                <li><a href="#">New In</a></li>
                <li class="submenu"><a href="#">Productos</a>
                    <ul class="submenu-links">
                        <li><a href="templates/remeras.html">Remeras</a></li>
                        <li><a href="">Buzos</a></li>
                        <li><a href="">Jeans</a></li>
                    </ul>
                </li>
                <li><a href="/templates/preguntasfrecuentes.html">Preguntas Frecuentes</a></li>
                <li><a href="#">Somos X</a></li>
                <li><a href="/templates/contacto.html">Contacto</a></li>
            </ul>
        </nav>
        <div class="fondoVioleta"></div>
    </header>
</body>
</html>