<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
      rel="stylesheet">
  <link rel="stylesheet" href="../static/remeras.css">
    <title>Somos X</title>
</head>
<body>
    <header>
        <div class="logo">
            <a href="../index.html">
              <img src="../imagenes/file.png" alt="logo" width="60px">
            </a>
          </div>
          <!-- Nav -->
          <nav>
            <ul>
              <li class="submenu"><a href="#">Productos</a>
                <ul class="submenu-links">
                  <li><a href="/templates/remeras.html">Remeras</a></li>
                  <li><a href="">Buzos</a></li>
                  <li><a href="">Jeans</a></li>
                </ul>
              </li>
              <li><a href="/templates/preguntasfrecuentes.html">Preguntas Frecuentes</a></li>
              <li><a href="/templates/somosx.html">Somos X</a></li>
              <li><a href="/templates/contacto.html">Contacto</a></li>
            </ul>
          </nav>
    </header>
    <main>
      <article>
        <div class="container-items">
            <div class="item">
                <figure>
                    <img src="https://images.unsplash.com/photo-1503342394128-c104d54dba01?q=80&w=3387&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
                </figure>
            </div>
        </div>
      </article>
    </main>
   
   
   
   
   
   
    <footer>
        <div class="footer-container">
          <p>&copy; 2024 CaC_FullStack_Phyton - CodeCrew <br>
            Creditos: Oscar Jesús Maidana; Facundo Albertus
          </p>
        </div>
      </footer>
</body>
</html>