<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
      rel="stylesheet">
  <link rel="stylesheet" href="../static/somosx.css">
    <title>Somos X</title>
</head>
<body>
    <header>
        <div class="logo">
            <a href="../index.html">
              <img src="../imagenes/file.png" alt="logo" width="60px">
            </a>
          </div>
          <!-- Nav -->
          <nav>
            <ul>
              <li class="submenu"><a href="#">Productos</a>
                <ul class="submenu-links">
                  <li><a href="">Remeras</a></li>
                  <li><a href="">Buzos</a></li>
                  <li><a href="">Jeans</a></li>
                </ul>
              </li>
              <li><a href="/templates/preguntasfrecuentes.html">Preguntas Frecuentes</a></li>
              <li><a href="/templates/somosx.html">Somos X</a></li>
              <li><a href="/templates/contacto.html">Contacto</a></li>
            </ul>
          </nav>
    </header>
    <main>
        <div class="contenedorDerecho">
            <section class="banner">
                <img src="../imagenes/file.png" alt="Somos X - Ropa de última tendencia">
                <div class="banner-texto">
                    <h2>Fabricamos y vendemos ropa de última tendencia <br> al mejor precio para tu negocio</h2>
                    
                </div>
            </section>
        </div>
        

        <div class="contenedorIzq">
            <section class="tiendas">
                <h2>Nuestras tiendas</h2>
                <div class="tiendas-lista">
                    <article class="tienda">
                        <h3>Tienda Centro</h3>
                        <p>Avenida Colón 123</p>
                        <a href="#" class="boton">Ver mapa</a>
                    </article>
                    <article class="tienda">
                        <h3>Tienda Nueva Córdoba</h3>
                        <p>Paraguay 800</p>
                        <a href="#" class="boton">Ver mapa</a>
                    </article>
                    <article class="tienda">
                        <h3>Tienda Alta Córdoba</h3>
                        <p>Jujuy 2400</p>
                        <a href="#" class="boton">Ver mapa</a>
                    </article>
                </div>
            </section>
        </div>

        

        <section class="contacto">
            <h2>Contáctanos</h2>
            <form action="#">
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre" required>

                <label for="email">Correo electrónico:</label>
                <input type="email" id="email" name="email" required>

                <label for="mensaje">Mensaje:</label>
                <textarea id="mensaje" name="mensaje" required></textarea>

                <button type="submit">Enviar mensaje</button>
            </form>
        </section>
    </main>
    <footer>
        <div class="footer-container">
          <p>&copy; 2024 CaC_FullStack_Phyton - CodeCrew <br>
            Creditos: Oscar Jesús Maidana; Facundo Albertus
          </p>
        </div>
      </footer>
</body>
</html>